.feedback {
    width: 400px;
    height: auto;
    background: transparent;
    border: solid 3px black;
    border-radius: 25px;
    // margin-bottom: 30px;
    margin: 0px 30px;
}
.feedback_avatar img {
    width: 130px;
    height: 130px;
    padding-top: 10px;
}
.feedback_content {
    padding: 10px;
}
@media (max-width: 768px) {
  .feedback {
    width: 250px;
    margin-bottom: 30px;
  }
  .feedback_avatar img {
    width: 70px;
    height: 70px;
    padding-top: 10px;
}
}